QueryWidget {
    height: 4;
}

#data_label {
    align-vertical: middle;
    border: hkey $accent;
}

#data_input {
    border: hkey $accent;
    padding-left: 0;
    margin-right: 6;
}

.error_label {
    color: red;
    text-style: bold;
}
